.App-player {
  width: 100%;
  height: 55%;
}

#container {
  min-width: 95%;
  background-color: 4c4c4c;
}

#auxContainer {
  max-height: 30% !important;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 10%;
  width: 100%;
}

img {
  margin-top: 2%;
  width: 12%;
  height: auto;
}

#title {
  margin-top: 2%;
  color: #4ca098;
  font-weight: normal;
  font-size: 150%;
  font-family: serif cursive;
  text-transform: uppercase;
}

#settingsContainer {
  background-color: #d8dde2;
}

ul {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
