#button {
  width: 100%;
  left: 5%;
  right: 0%;
  color: #4ca098
}

#buttonIcon {
  background-color: #4ca098
}

#checkDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputs {
  color: #4ca098
}