.App {
  margin: 0;
  padding: 0;
}

.video-player {
  width: 100%;
  height: 100%;
}

.vsc-initialized {
  width: 100%;
}

.zeta-fluid {
  width: 100%;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none;
}

.vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.video-js .vjs-chromecast-button {
    font-size: 0.7em;
}
